<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="manifest" href="/manifest.json"/>
    <script src="/scripts/common.js"></script>

    <title>MazeLike</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="../font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="../css/loggedinstyle.css" rel="stylesheet">
    <link href="../css/style-responsive.css" rel="stylesheet">
    <link rel="icon" href="/img/m main.png"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <section id="container">
        <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
        <!--header start-->
        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
            </div>
            <!--logo start-->
            <a href="/account/dashboard" class="logo"><img class="logo" src="../img/mazelike logo white.png" alt="logo" height=40 width=175></a>
            <!--logo end-->
        </header>
        <!--header end-->

        <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">
                  <p class="centered"><a href="/account/view"><img src="../public/images/{{image}}" class="img-circle" width="60"></a></p>
                    <h5 class="centered">
                        {{username}}
                    </h5>
                    <li class="mt">
                        <a class="active" href="/account/dashboard">
                            <i class="fa fa-dashboard"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="mt">
                        <a href="/account/view">
                            <i class="fa fa-tasks"></i>
                            <span>View Account</span>
                        </a>
                    </li>
                    <li class="mt">
                        <a href="/account/logout">
                            <span>Log Out</span>
                        </a>
                    </li>
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->

        <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <div class="row mt">
                    <div class="col-md-7 col-sm-7 mb">
                        <div class="white-panel pn">
                            <div class="white-header">
                                <h5>Games</h5>
                            </div>
                            <div class="row">
                                {{#each lobbies}}
                                <tr>
                                    <input type="radio" name="gender" value="male" id={{lobbyId}}>
                                    &nbsp;<label for={{lobbyId}}>{{lobbyId}}</label><br>
                                </tr>
                                {{/each}}
                            </div>
                        </div>
                    </div><!-- /col-md-4-->

                    <div class="col-md-4 col-sm-4 mb">
                        <div class="white-panel pn">
                            <div class="white-header">
                                <h5>Options</h5>
                            </div>
                            <div class="row">
                                <a href="/game/new"><button class="blue-btn" type="button" id="new button"> Create New Game </button></a>
                            </div>
                            <div class="row">
                                <button class="blue-btn" type="button" id = "continue button" > Continue Game </button>
                            </div>
                            <div class="row">
                               <button class="blue-btn" type="button" id = "delete button" > Delete Game </button>
                            </div>
                        </div>
                    </div><!-- /col-md-4 -->

                </div><!-- /row -->

                </div><!-- /col-lg-9 END SECTION MIDDLE -->

                <!--main content end-->
            </section>

            <!-- js placed at the end of the document so the pages load faster -->
            <script src="../js/jquery.js"></script>
            <script src="../js/jquery-1.8.3.min.js"></script>
            <script src="../js/bootstrap.min.js"></script>
            <script class="include" type="text/javascript" src="../js/jquery.dcjqaccordion.2.7.js"></script>
            <script src="../js/jquery.scrollTo.min.js"></script>
            <script src="../js/jquery.nicescroll.js" type="text/javascript"></script>
            <script src="../js/jquery.sparkline.js"></script>


            <!--common script for all pages-->
            <script src="../js/common-scripts.js"></script>

            <script type="text/javascript" src="../js/gritter/js/jquery.gritter.js"></script>
            <script type="text/javascript" src="../js/gritter-conf.js"></script>

            <!--script for this page-->
            <script src="../js/sparkline-chart.js"></script>
            <script src="../js/zabuto_calendar.js"></script>

            <script>
                // continue button listener
                document.getElementById("continue button").addEventListener('click', function (event) {
                    var selectedlobby = -1;
                    $('input:radio').each(function () {
                        if (this.checked == true)
                            selectedlobby = this.id;
                    });
                    if (selectedlobby == -1)
                        alert("Please select a game.");
                    else window.location.href = "/game/lobby/" + selectedlobby;
                });
                // delete button listener
                document.getElementById("delete button").addEventListener('click', function (event) {
                    var selectedlobby = -1;
                    $('input:radio').each(function () {
                        if (this.checked == true)
                            selectedlobby = this.id;
                    });
                    if (selectedlobby == -1)
                        alert("Please select a game.");
                    else{
                        fetch("/game/lobby/" + selectedlobby + "/delete")
                        .then((res) => {
                            return res.text()
                        })
                        .then((msg) => {
                            if(msg.length > 100) {
                                msg = "Game deleted";
                            }
                            alert(msg);
                            location.reload();
                        });
                    }
                });
            </script>
</body>

</html>
