<!DOCTYPE html>
<html>
  <head>
    <title>
      My games
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width"/>
    <style>
      h2, .alert {
        margin-top: 10px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a class="navbar-brand" href="/">Mazelike</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/game/new">New lobby</a>
          </li>
        </ul>
        <span class="navbar-text">
          {{user}}
        </span>
      </div>
    </nav>
    <div class="container">
      <h2>Lobbies</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Host</th>
            <td># of players</td>
          </tr>
        </thead>
        <tbody>
          {{#each lobbies}}
            <tr>
              <td><a href="/game/lobby/{{lobbyId}}">{{lobbyId}}</a></td>
              <td>{{playerId}}</td>
              <td>{{count}}</td>
            </tr>
          {{/each}}
        </tbody>
      </div>
    </div>
    <script src="/js/lobby.js" data-ishost="{{isHost}}" data-id="{{id}}"></script>
  </body>
</html>