block variables

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    met(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"
    )
    link(rel='stylesheet', href='/stylesheets/style.css')
    title Mazelike: #{title}
  body
    div.top-bar.d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.mb-3.bg-white.border-bottom.box-shadow
      h5.my-0.mr-md-auto.font-weight-normal
        a(href="/", title="Expresso") MazeLike
      nav.my-2.my-md-0.mr-md-3
        a.p-2.text-dark(href="/", title="Home") Home
        a.p-2.text-dark(href="/login") Log In / Register
        a.p-2.text-dark(href="/dashboard") Dashboard
    .container
        block content

    footer.
        Brought to you by PP_3
