<!DOCTYPE html>
<html>
  <head>
    <title>
      {{#if invalid}}
        Not found
      {{else}}
        {{host}}'s Lobby
      {{/if}}
    </title>
    <link rel="stylesheet" href="/css/bootstrap4.min.css"/>
    <script src="/js/socket.io.js"></script>
    <link rel="icon" href="/img/m main.png"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="theme-color" content="#203255"/>
    <link rel="manifest" href="/manifest.json"/>
    <script src="/scripts/common.js"></script>
    <style>
      h2, .alert {
        margin-top: 10px;
      }

      .userinfo {
        position: relative;
        height: 64px;
        width: auto;
      }
      
      .avatar {
        margin-right: 15px;
        width: 64px;
        height: 64px;
      }

      nav.navbar {
        background: #203255!important;
      }

      body {
        background: #f2f2f2;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/account/dashboard"><img class="logo" src="../../img/mazelike logo white.png" alt="logo" height=40 width=175></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <span class="navbar-text">
          {{#if user}}
            {{user}} &nbsp; &nbsp; 
            <a href="/account/dashboard"><button class="btn btn-primary" type="button" > Dashboard </button></a>
          {{else}}
            <a href="/account/login">Login</a>
          {{/if}}
        </span>
      </div>
    </nav>
    <div class="container">
      {{#if invalid}}
        <h2>Lobby not found</h2>
        <p>
          Either get a join link from your friend or <a href="/game/new">create your own lobby.</a>
        </p>
      {{else}}
        <h2>Player list</h2>
        <div class="list-group">
          {{#each players}}
            <div class="list-group-item d-flex justify-content-between align-items-center" data-player-id="{{id}}">
              <div class="userinfo">
              {{#if image_name}}
                <img src="../../public/images/{{image_name}}" class="avatar rounded float-left">
              {{else}}
                <img src="../../img/profilepic.jpg" class="avatar rounded float-left">
              {{/if}}
                <span class="username">{{id}}</span>
            </div>
              {{#if isHost}}
                <span class="badge badge-dark">HOST</span>
              {{else}}
                {{#if ../isHost}}
                  <a class="drop-link" href="/game/lobby/{{../id}}/drop/{{id}}">Drop</a>
                {{/if}}
              {{/if}}
            </div>
          {{/each}}
        </div>
        {{#if isHost}}
          <h2>Add players</h2>
          <p>
            Share this link with other people to add them to this lobby.
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="join-link">Join link</span>
              </div>
              <input type="text" class="form-control" value="{{origin}}/j/{{secret}}"
                aria-describedby="join-link" id="join-link-copy"/>
            </div>
          </p>
          <button class="btn btn-primary" style="float: right;" id="start">Start game</button>
        {{/if}}
      {{/if}}
    </div>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap4.min.js"></script>
    <script src="/scripts/lobby.js" data-ishost="{{isHost}}" data-id="{{id}}"></script>
  </body>
</html>